<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a experimental physicist working at the interface between condensed matter physics and atomic physics. I received my BS in applied physics at University of Science and Tech of China (USTC), and my PhD in physics with at University of California, Davis. Currently I am a Postdoctoral Fellow in Yao Lab at Harvard physics department.</p>
      </div>
      <div class="col-lg-4">
        <p>My research concertates on investigating strong correlated systems under extreme conditions using local spin probes (nuclear spin i.e. NMR, color centers i.e. NV center in diamond and VB- in hBN). My publication list can be found in <a href="https://scholar.google.com/citations?hl=en&user=fGon5bYAAAAJ" target="_blank" style="color: #d63384;"> Google Scholar</a> .  More details can be found in my <a href="files/CV_ZW_202506.pdf" target="_blank" style="color: #d63384;">résumé</a>.
        </p>
      </div>
    </div>
  </div>
</section>
